.projectCard {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include projectCard-radius;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid $color-secondary-lighter-10;
  text-align: justify;
  &__modalContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
      background-color: $color-secondary-darker-10;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include projectCard-radius;
      color: $color-primary-lighter-10;
      margin: 0px 0px;
      padding: 10px 0px;
    }
    &__overview {
      height: 350px;
      width: 100%;
      object-fit: contain;
      @include screen-1200-max {
        height: 450px;
        @include screen-950-max {
          height: 400px;
        }
      }
      @include screen-800-max {
        height: 350px;
      }
      @include screen-700-max {
        height: 300px;
      }
      @include screen-600-max {
        height: 250px;
      }
      @include screen-450-max {
        height: 200px;
      }
    }
    &__modal {
      background-color: $color-modal-bg;
      color: $color-secondary;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include projectCard-radius;
      padding: 20px 5px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include screen-600-max {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        border-radius: none;
      }

      &__abstract {
        overflow-y: auto;
        //margin: 0px 10px;
        height: 85%;
        padding-right: 20px;
        margin-bottom: 10px;
        @include screen-600-max {
          display: flex;
          align-items: center;
          //justify-content: center;
        }
      }
      &__tagList {
        height: 15%;
        border-top: 1px solid white;
      }
    }
  }

  &__linkContainer {
    background-color: $color-secondary-darker-10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid red;
    position: relative;
    z-index: 2;

    &__link {
      margin: 15px 50px;
      display: flex;
      height: 100%;
      align-items: center;
      color: $color-primary-lighter-10;
      z-index: 4;
      @include screen-1200-max {
        margin: 15px 5px;
      }

      // &__plus {
      //   // display: none;
      //   // position: absolute;
      //   // color: yellow;
      //   //left: 37%;
      //   margin: 0;
      //   font-size: 2rem;
      //   display: flex;
      //   position: absolute;
      //   justify-content: center;
      //   width: 100%;
      //   z-index: 3;
      // }
    }
  }
}
