.cv-skills__section__content__sub {
  background-color: $color-primary-darker-10;
  color: white;
  width: 100%;
  border-radius: 15px;
  @include card-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  &__ul {
    border-top: 5px solid white;
    padding: 10px 0px 0px 0px;
    margin: 0px 15px 20px 15px;
    width: 90%;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include screen-1200-max {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__li {
      //list-style: upper-roman;
      //   list-style: '✓';
      list-style: none;
      //border: 1px solid white;
      //width: 48%;
      // width: 100%;
      padding: 0;
      margin: 2px 0px 5px 0px;
      font-size: 1.1rem;
      @include screen-1200-max {
        margin-left: 30%;
      }
      @include screen-900-max {
        margin-left: 20%;
      }
      @include screen-800-max {
        margin-left: 0;
      }

      //   display: flex;
      //   justify-content: center;
      //width: 45%;
      // text-align: center;
      &:before {
        content: '✓ ';
        //margin-right: 10px;
      }
    }
  }
}
