@keyframes sectionHeight {
  0% {
    height: 0px;
  }
  15% {
    height: 100px;
  }
  30% {
    height: 200px;
  }
  45% {
    height: 300px;
  }
  50% {
    height: auto;
  }

  100% {
    height: auto;
  }
}

@keyframes sectionHeightReverse {
  0% {
    height: auto;
  }
  50% {
    height: auto;
  }
  55% {
    height: 300px;
  }

  100% {
    height: 0px;
  }
}

@keyframes sharedSections {
  0% {
    height: 0px;
  }
  15% {
    height: 100px;
  }
  30% {
    height: 200px;
  }
  45% {
    height: 300px;
  }
  50% {
    height: $sharedSectionHeight;
  }

  100% {
    height: $sharedSectionHeight;
  }
}

@keyframes sectionContent {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    transform: scale(0, 0);
  }
  55% {
    opacity: 0.2;
    transform: scale(0.4, 0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  // 50% {
  //   opacity: 0;
  //   transform: scale(0, 0);
  // }
  // 55% {
  //   opacity: 0.2;
  //   transform: scale(0.4, 0.2);
  // }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes eraseContent {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  20% {
    opacity: 1;
    transform: scale(0.7, 0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5, 0);
  }
  75% {
    opacity: 0.2;
    transform: scale(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
