@import './variables.scss';
@import '/src/pages/Home/home.scss';
@import '../components/footer/footer.scss';
@import '../components/ContactForm/contactForm.scss';
body {
  color: $color-primary;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $headerHeigth;
}
a,
a:active,
a:visited {
  //color: $color-secondary;
  text-decoration: none;
}
