@import './variables.scss';
@import '/src/pages/Home/home.scss';
@import '../components/footer/footer.scss';
@import '../components/ContactForm/contactForm.scss';
@import '../components/ToolCard/toolCard.scss';
@import '../components/ExperienceCard/experienceCard.scss';
@import '../components/ModalBackGround/modal.scss';
@import '../components/SkillCard/skillCard.scss';

body {
  color: $color-primary-darker-20;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-primary-lighter-20;
}

.app {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // border: 2px solid yellow;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin: auto;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  //width: 80%;
  //border: 2px solid red;
  //height: 100%;
  // margin-bottom: 50px;
  background-color: $color-primary-lighter-20;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
