.contactForm__container {
  margin-bottom: 20px;
  width: 60%;
  &__form {
    display: flex;
    flex-direction: column;
    &__input {
      margin: 10px;
    }
  }
}

.message {
  height: 150px;
}
.sendButton {
  margin-top: -5px;
}

.error {
  color: red;
  display: none;
}

.input:invalid[focused='true'] {
  border: 2px solid red;
}

.input:invalid[focused='true'] ~ span.error {
  display: block;
}
