//@import '../../styles/variables.scss';

@mixin cvTitleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $color-primary-lighter-35;
  border: 3px solid $color-primary-darker-20;
  margin: 0;
  border-radius: 30px;
  padding: 15px;
}
.section {
  width: 100%;
  border-radius: 30px;
  margin: 20px 0px;
  display: flex;
  border: none;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 150px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 10px 0px,
    rgba(60, 64, 67, 0.15) 0px 4px 6px 4px;
  position: relative;
  @include screen-1100-max {
    border-radius: 15px;
  }
  @include screen-950-max {
    margin: 20px 20px;
    min-height: 80px;
  }
  @include screen-500-max {
    margin: 5px 10px;
  }

  &__title {
    font-size: 1.3rem;
    cursor: pointer;
    color: $color-primary;
    position: absolute;
    top: 0px;
    left: 30px;
    border: none;
    background-color: transparent;
    @include screen-800-max {
      font-size: 1.1rem;
      // display: none;
    }

    &__icon {
      padding-top: 5px;
    }
  }
  &__content {
    width: 100%;
    margin: 35px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.cv {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  @include screen-950-max {
    margin: 0px;
  }

  &__header {
    background-image: url('../../assets/photos/codePhotos/05.bmp');
    display: flex;
    // display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap !important;
    @include screen-1200-max {
      font-size: 0.9rem;
    }
    @include screen-950-max {
      border-radius: 0px;
      font-size: 0.8rem;
      margin: 60px 0px 30px 0px;
    }
    @include screen-800-max {
      flex-direction: column;
    }

    &__portrait {
      margin: 2%;
      width: 280px;
      height: 280px;
      border-radius: 200px;
      object-fit: cover;
      border: 5px solid $color-primary-lighter-20;
      @include screen-950-max {
        margin: 2%;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        object-fit: cover;
        border: 4px solid $color-primary-lighter-20;
        margin-bottom: 3px;
      }
      @include screen-800-max {
        // position: absolute;
        margin-top: 30px;
      }
      @include screen-450-max {
        width: 150px;
        height: 150px;
      }
    }
    &__txt {
      margin: 2%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      @include screen-800-max {
        font-size: 0.6rem;
        font-weight: 100;
        align-items: center;
      }
      @include screen-400-max {
        font-size: 3rem;
      }

      &__titles {
        @include screen-800-max {
          flex-direction: row;
          border-radius: 15px;
        }
        @include cvTitleBlock();
        margin-bottom: 40px;
        @include screen-800-max {
          flex-direction: row;
          border-radius: 15px;
          font-size: 0.6rem;
          font-weight: 100;
          margin-bottom: 10px;
        }
        @include screen-400-max {
          font-size: 0.4rem;
        }
        &__h1 {
          margin: 0;
          @include screen-800-max {
            margin-right: 5px;
          }
        }
        &__h2 {
          margin: 0;
        }
      }
      &__block {
        @include cvTitleBlock();
        max-width: 80%;
        text-align: right;
        font-size: 1.1rem;
        font-weight: 500;
        @include screen-1200-max {
          font-size: 0.9rem;
        }
        @include screen-800-max {
          //flex-direction: row;
          border-radius: 15px;
          //width: 100%;
          //max-width: 90%;
          max-width: unset;
          text-align: justify;
        }
        @include screen-400-max {
          font-size: 0.6rem;
        }
      }
    }
  }
  &-tools__section {
    &__content {
      display: grid !important;
      grid-template-columns: repeat(auto-fill, 250px);
      @include screen-1200-max {
        grid-template-columns: repeat(auto-fill, 165px);
      }
      @include screen-400-max {
        display: flex !important;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &-skills__section {
    width: 35%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    @include screen-1200-max {
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-content: center;
      font-size: 1.1rem;
      height: 645px;
      @include screen-1300-max {
        height: 700px;
      }
      @include screen-1200-max {
        height: auto;
      }
    }
  }

  &-studies__section {
    width: 63%;
    display: flex;
    justify-content: center;
    @include screen-1200-max {
      width: 100%;
    }
    &__content {
      height: 645px;
      @include screen-1300-max {
        height: 700px;
      }
      @include screen-1200-max {
        height: auto;
      }
    }
  }
  &-jobs__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    // width: 100%;

    // &__content {
    //   //margin: 5px;
    // }
  }
}
