//@import '../../styles/variables.scss';

@mixin cvTitleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $color-primary-lighter-35;
  border: 3px solid $color-primary-darker-20;
  //margin-bottom: 30px;
  margin: 0;
  border-radius: 30px;
  padding: 15px;
}
.section {
  border-radius: 30px;
  padding: 0px;
  margin: 20px 100px 0px 100px;
  display: flex;
  //border: $color-tertiary-darker-30 solid 1px;
  //max-width: 100%;
  border: none;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 150px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 10px 0px,
    rgba(60, 64, 67, 0.15) 0px 4px 6px 4px;

  &__legend {
    font-size: 1.3rem;
    margin-left: 20px;

    padding: 15px 30px 0 20px;
    cursor: pointer;
    &__icon {
      padding-top: 5px;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
  }
}
.cv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
  &__header {
    background-image: url('../../assets/photos/codePhotos/05.bmp');
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap !important;

    &__portrait {
      margin: 2%;
      width: 280px;
      height: 280px;
      border-radius: 200px;
      object-fit: cover;
      border: 5px solid $color-primary-lighter-20;
    }
    &__txt {
      margin: 2%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;

      &__titles {
        @include cvTitleBlock();
        margin-bottom: 40px;
        &__h1 {
          margin: 0;
        }
        &__h2 {
          margin: 0;
        }
      }
      &__block {
        @include cvTitleBlock();
        max-width: 80%;
        text-align: right;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
  &-tools__section {
    width: 100%;

    &__content {
      display: grid !important;
      grid-template-columns: repeat(auto-fill, 250px);
      justify-content: space-between;
      //grid-gap: 0px 00px;
      margin: 0;
    }
  }
  &-skills__section {
    width: 25%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 0px;
    min-height: 650px;
    max-height: 1500px;

    //margin: 0;
    &__content {
      //height: 650px;
      display: flex;
      flex-direction: column;
      align-content: center;
      // min-height: 650px;
      // max-height: 1500px;
      margin: 10px 20px;
      //margin: 30px;
      padding: 0;
      //justify-content: space-around !important;
      font-size: 1.1rem;
    }
  }

  &-studies__section {
    width: 58%;
    display: flex;
    justify-content: center;
    min-height: 650px;
    max-height: 1500px;
    // margin: 0;
    margin-right: 100px;
    margin-left: 0px;
    &__content {
      display: flex;
      flex-direction: column;
      align-content: center;
      //height: 100%;

      margin: 10px 20px;
      padding: 0;
    }
  }
  &-jobs__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;

    &__content {
      margin: 5px;
    }
  }

  // #cv-container {
  //   display: flex;
  //   width: 100%;
  //   margin: 20px 100px 0px 100px;
  //   justify-content: space-between;
  //   //border: 1px solid red;
  //   //height: 1000px;
  // }
}
