.contactForm__container {
  margin-bottom: 20px;
  width: 60%;
  &__form {
    display: flex;
    flex-direction: column;
    &__input {
      margin: 10px;
    }
  }
}

.message {
  height: 150px;
}
