.header {
  background-color: $color-primary;
  height: $headerHeigth;
  //max-height: $headerHeigth;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //display: flex;
  // padding-top: 10px;
  &__nav {
    @include screen-800-min {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
    display: none;
  }
  &__mobileNav {
    font-size: 0.5rem;
    @include screen-800-min {
      display: none;
    }

    &__button {
      position: absolute;
      top: 10px;
      right: 20px;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 2.5rem;
    }
    &__background {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 3;
      background-color: $color-modal-bg;
      display: flex;
      justify-content: center;
      transform: scaleY(0);
      transform-origin: top;
      animation: burger 0.2s ease-in-out forwards;
      &__nav {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 2px solid white;
        margin-top: $headerHeigth;
        position: relative;
        //justify-content: space-evenly;
        justify-content: flex-start;

        & a {
          font-size: 1.5rem;
          margin-top: 25px;
        }

        &__closeBtn {
          position: absolute;
          top: -50px;
          right: -10px;
          color: $color-secondary;
          font-size: 2rem;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}
@mixin navLinkStyle {
  color: $color-secondary;
  font-size: 3rem;
  @include screen-800-min {
    background-color: $color-primary-darker-10;
    text-decoration: none;
    font-size: 1rem;
    border: 3px solid $color-primary-darker-20;
    border-radius: 30% 30% 30% 30% / 30% 30% 30% 30%;
    min-width: $menuItem-width;
    height: $menuItem-height;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

@mixin activeLink {
  text-decoration: underline;
  font-weight: 600;
  @include screen-800-min {
    font-weight: 700;
    background-color: $color-primary-darker-30;
  }
}

@mixin hoverLink {
  @include screen-800-min {
    font-weight: 700;
    transform: translateY(-2px);
    background-color: $color-primary-lighter-30;
    border: 3px solid $color-primary-darker-20;
  }
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include navLinkStyle();
}

.navLink.active {
  @include activeLink();
}

.navLink:hover {
  @include hoverLink();
}

.menuDropDown {
  // @include navLinkStyle();
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;
  // padding: 0 5px 0 5px;
  // cursor: pointer;
  &__topPannel {
    @include navLinkStyle();
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 5px;
    cursor: pointer;

    &__main {
      color: $color-secondary;
      display: flex;
      align-items: center;
      padding: 0 5px 0 5px;
      //width: 100%;
      height: 80%;
      border-right: 3px solid $color-primary-darker-20;
      // background-color: red;
      //@include navLinkStyle();
    }
    &:hover {
      @include hoverLink();
    }
    &:has(.active) {
      @include activeLink();
    }

    &__icon {
      position: relative;
      top: 0px;
      right: 0px;
    }
  }
}
