.projectTag {
  margin: 5px;
  min-height: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid $color-primary-darker-20;
  font-size: 0.7rem;
  @include screen-800-max {
    margin: 2px;
  }
  @include bigOnHover;
}

.tagActive {
  background-color: $color-primary;
  color: white;
}
