.projects__main {
  border: 1px solid red;
  &__h1 {
  }
  &__search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__searchBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      //width: 500px;
      flex-grow: 1;
      border: 1px solid red;
      height: 50px;
      background-color: $color-secondary-darker-30;
      font-size: 1.5rem;

      &__label {
        display: none;
      }
      &__input {
        display: flex;
        width: 100%;
        height: 100%;
      }
      &__icon {
        display: flex;
        width: 50px;
      }
    }
    &__empty {
      color: $color-secondary;
      font-size: 1.5rem;
    }
  }
  &__projectsContainer {
    margin-top: 50px;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    //justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}

//delete the cancel button when typing in Chrome
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
